.card{
  margin: 0 15px !important;
  border: 3px solid transparent  !important;
}
.textIcons{
  padding:8px;
  display: flex;
  align-items: center;
  p{
    padding-left: 25px;
  }
}

.otherTech{
  padding-top: 25px;
}