.content{
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-content: center;
  h1,h3{
    font-family: 'Lato', sans-serif;
    color:white;
    font-weight: normal;
    padding: 0; margin: 0;
    text-shadow: 0.1px 0.1px 20px #1b7777;
    -webkit-text-stroke: 0.1px #175f5f;  }
  h1{  font-size: 6rem; }
  h3 {font-size: 2.5rem; }
  .buttons{
    padding-top: 1rem;
    display:flex;
    justify-content: center;
  }
}
  
