// SimpleFolio Buttons: https://github.com/cobidev

$btn-color: #06DDDD;
$primary-color:  #06DDDD;
$hover-color:  white;
$default-font-size: 1.6rem;


/* Call to Action Button */
.btn {
  display: inline-block;
  position: relative;
  font-weight: bold;
  line-height: 1;
  z-index: 1;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.6s;
  color: $hover-color;
  
  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 0px;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
  }
}

/* Btn Style */
.btnMain {
  display: inline-block;
  position: relative;
  z-index: 1;

  line-height: 1;
  width: auto; 

  font-weight: bold;
  background-color: $btn-color;

  -webkit-background-clip: $btn-color;
  border-radius: 0px;

  cursor: pointer;

  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.6s;

  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 0px;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
    background-image: linear-gradient(135deg, $hover-color 0%, $hover-color 100%);
    
  }

  &:hover {
    color: $btn-color;
    -webkit-text-fill-color: $btn-color;
    text-decoration: none;
    border: 0px solid $btn-color;
    &::after {
      width: 100%;
    }
  }
}