.container{
  background-color: #074b45;
  width: 100%;
  height: 100%;
  padding: 3rem 0 2rem;
  margin-top: 0;
  h1{
    color:white;
  }
}

.divisor{
  padding-top: 1rem;
  section{
    margin-top: 0px;
  }
}

.form{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;

  .field{
      padding-left: 10px;
      max-width: 100%;
      color:#074b45;
      border:solid 1px #8DBE49;
      border-radius: 5px;
  }
}

.field:focus{
  outline:0;
}