
@mixin coverer {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.videoHeader {
  position: absolute;
  text-align: center;
  width: 100vw;
  height: 100vh;
  
  &, video, .tiny ,.viewportHeader {
    @include coverer;
  }
  .tiny{
    filter: blur(5px);
  transform: scale(1);
  transition: visibility 0ms ease 400ms;
  }
  video {
    background: black;
    object-fit: cover;
  }
  .viewportHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    opacity: var(--headerOpacity);
    transform: scale(var(--headerScale));
    transition: opacity 400ms ease 0ms;
  }
}

  