
.backgroundImage{
  height: 350px;
  left: 0;
  background-image: url(./background.svg);
  background-attachment: local;
  background-size: 500px;
  background-origin: content-box;
  background-repeat: no-repeat;
  background-position: right bottom;
  padding-right: 10%;
}
.section{
  background-color: #cdecec;
  width: 100%;
  height: 100%;
  padding: 3rem 0 2rem;
  margin-top: 0;
  h1{
    color:#074b45;
  }
}

.card {
  width: 350px !important;
  max-width: 350px !important;
  padding:0 !important;
  margin:10px !important;

  .image{
    padding: 0 !important;
    height: 250px;
    border-bottom: #8DBE49 10px solid !important;
  }
}

.tittle{
  font-weight: bold !important;
  color:#074b45;
}

.tittle, .tech{
  text-align: center;
}

.formContainer{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}